*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

main {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  max-width: 80ch;
  margin: 0 auto;
}

h1,
h3,
pre {
  margin-bottom: 1rem;
}

p {
  margin-bottom: 2rem;
}

pre {
  text-align: initial;
}

code {
  border-radius: 0.5rem;
}
